{% extends 'layout.html' %}
{% block content %}
    <nav id="auction">
        <a href=""><i class="fa-solid fa-house"></i></a>
        ><p>Auctions</p>
    </nav>

    <h3>Medical equiptment auction</h3>
    <section class="main_info">
        <section class="filters">
            <h4>Found 3 sellers</h4>
            <div class="cont">
                <div class="coun">
                    <h2>COMPANY</h2>
                    <input type="search" placeholder="Enter company name" class="text">
                </div>
                <hr>
                <div class="coun">
                    <h2>COUNTRY</h2>
                    <input type="search" placeholder="Search" class="text"> <br>
                    <div id="checkbox"><input type="checkbox"><label for="">Europe</label></div>
                    
                </div>
            </div>
            
        </section>

        <section class="confirmed_partners">
            <div class="sort"><h5>Sort by</h5></div>
            <div class="partner">
                <div class="image"><img
                        src="https://imgs.search.brave.com/1KPLghSHig7xybkgpF7WdV8TGQSFDoK41YfDb2vlnTM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eG1hLmNvLnVrL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDI0LzAx/L2Nyb3BwZWQtbG9n/by0yLTEucG5n"
                        alt=""></div>
                <div class="credentials">
                    <h4>COMPANY NAME</h4>
                    <nav><a href="">PERSONAL DATA</a> <a href="">COMPANY DATA</a></nav>
                    <HR>
                    </HR>
                    <div class="tag">
                        <div class="tags">United Kingdom</div>
                        <div class="tags">SHOW EMAILS</div>
                        <div class="tags">SHOW PHONE NUMBERS</div>
                        <div class="tags">SHOW SITES</div>
                    </div>
                    <div class="Ratings">
                        <div class="stars">⭐⭐⭐⭐⭐</div>
                    </div>
                </div>
            </div>
            <div class="partner">
                <div class="image"><img
                        src="https://imgs.search.brave.com/1KPLghSHig7xybkgpF7WdV8TGQSFDoK41YfDb2vlnTM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eG1hLmNvLnVrL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDI0LzAx/L2Nyb3BwZWQtbG9n/by0yLTEucG5n"
                        alt=""></div>
                <div class="credentials">
                    <h4>COMPANY NAME</h4>
                    <nav><a href="">PERSONAL DATA</a> <a href="">COMPANY DATA</a></nav>
                    <div class="tag">
                        <div class="tags">United Kingdom</div>
                        <div class="tags">SHOW EMAILS</div>
                        <div class="tags">SHOW PHONE NUMBERS</div>
                        <div class="tags">SHOW SITES</div>
                    </div>
                    <div class="Ratings">
                        <div class="stars">⭐⭐⭐⭐⭐</div>
                    </div>
                </div>
            </div>
            <div class="partner">
                <div class="image"><img
                        src="https://imgs.search.brave.com/1KPLghSHig7xybkgpF7WdV8TGQSFDoK41YfDb2vlnTM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eG1hLmNvLnVrL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDI0LzAx/L2Nyb3BwZWQtbG9n/by0yLTEucG5n"
                        alt=""></div>
                <div class="credentials">
                    <h4>COMPANY NAME</h4>
                    <nav><a href="">PERSONAL DATA</a> <a href="">COMPANY DATA</a></nav>
                    <div class="tag">
                        <div class="tags">United Kingdom</div>
                        <div class="tags">SHOW EMAILS</div>
                        <div class="tags">SHOW PHONE NUMBERS</div>
                        <div class="tags">SHOW SITES</div>
                    </div>
                    <div class="Ratings">
                        <div class="stars">⭐⭐⭐⭐⭐</div>
                    </div>
                </div>
            </div>
            <div class="partner">
                <div class="image"><img
                        src="https://imgs.search.brave.com/1KPLghSHig7xybkgpF7WdV8TGQSFDoK41YfDb2vlnTM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93d3cu/eG1hLmNvLnVrL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDI0LzAx/L2Nyb3BwZWQtbG9n/by0yLTEucG5n"
                        alt=""></div>
                <div class="credentials">
                    <h4>COMPANY NAME</h4>
                    <nav><a href="">PERSONAL DATA</a> <a href="">COMPANY DATA</a></nav>
                    <div class="tag">
                        <div class="tags">United Kingdom</div>
                        <div class="tags">SHOW EMAILS</div>
                        <div class="tags">SHOW PHONE NUMBERS</div>
                        <div class="tags">SHOW SITES</div>
                    </div>
                    <div class="Ratings">
                        <div class="stars">⭐⭐⭐⭐⭐</div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    {% endblock %}