<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediToolz Clone</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/equipment.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/models.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction.css' %}">
    
   
    <script src="https://kit.fontawesome.com/e5943beaca.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif%}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'footer.html' %}


    <script>
        document.getElementById("openModalBtn").onclick = function() {
            document.getElementById("myModal").style.display = "block";
        }
        
        document.querySelector(".close").onclick = function() {
            document.getElementById("myModal").style.display = "none";
        }
        
        // Optional: close when clicking outside the modal
        window.onclick = function(event) {
            if (event.target == document.getElementById("myModal")) {
                document.getElementById("myModal").style.display = "none";
            }
        }
        </script>
        
    
</body>
</html>